body{
    
	background: fixed;
    background-image: URL(../img/bg.jpg);
    background-repeat: no-repeat;
}

.navbar{
	 font-family: 'georgia', sans-serif;
    font-size:16px;
	
}

.requis {
    color: #c00;
}
.succes {
    color: green;
}
.erreur {
    color: red;
}

fieldset {
  border:0;
  margin:0 100px 0 0;
  min-width:0;
  padding:0;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
	
height:200px;
	}
	
.rowe{
	margin:0px;
}
article{
    background-color: #E0E0E0;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
figure img{
    width: 100%;
    height: 100%;
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}
.centre {
   
    background-color: rgba(255, 255, 255, 0.1);
   
}
.taille{
	width:400px;
    height: 400px;
	
}

.thumbnail {
 
 border:0 solid #DDDDDD;
  border-radius:4px;
  display:block;
  line-height:1.42857;
  margin-bottom:20px;
  padding:4px;
  transition:border 0.2s ease-in-out;
}
.recadre{
	
	
}

.panel-default {
  border-color:#DDDDDD;
  
}

 
.list-unstyled {
  list-style:none;
  padding:10px;
}

.panel-default > .panel-heading {
  background-color:#F5F5F5;
  border-color:#DDDDDD;
  border-top-right-radius :4px;
   border-top-left-radius :4px;
  color:#333333;
}
.panel {
  background-color: rgba(255, 255, 255, 0.8);
  border:1px solid transparent;
  border-radius:15px;
  box-shadow:rgba(0, 0, 0, 0.05) 0 1px 1px;
  margin-bottom:20px;
}


/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}