<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:jpa="https://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://www.springframework.org/schema/context 
       https://www.springframework.org/schema/data/jpa 
       https://www.springframework.org/schema/data/jpa/spring-jpa.xsd"> 
       
     <!-- Inclusion d'autres fichiers de contexte Spring -->
    <import resource="fr/escalade/persistance/src/main/resources/WEB-INF/persistanceContext.xml" />


</beans>
