<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>fr.escalade_presentation.controller.Accueil</servlet-class>
  </servlet>
  
<!--   <servlet> -->
<!--     <servlet-name>ListeUtilisateur</servlet-name> -->
<!--     <servlet-class>fr.escalade_presentation.controller.ListeUtilisateur</servlet-class> -->
<!--   </servlet> -->
  
  <servlet>
    <servlet-name>ListeTopo</servlet-name>
    <servlet-class>fr.escalade_presentation.controller.ListeTopo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreationTopo</servlet-name>
    <servlet-class>fr.escalade_presentation.controller.CreationTopo</servlet-class>
    <init-param>
      <param-name>chemin</param-name>
      <param-value>/fichiers/images/</param-value>
    </init-param>
    <multipart-config>
      <location>c:/fichiers/images</location>
      <max-file-size>2097152</max-file-size>
      <max-request-size>10485760</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet>
		<servlet-name>Image</servlet-name>
		<servlet-class>fr.escalade_presentation.controller.Image</servlet-class>
		<init-param>
			<param-name>chemin</param-name> 
			<param-value>/fichiers/images/</param-value> 
		</init-param>
	</servlet>
  

  <servlet>
    <servlet-name>Upload</servlet-name>
    <servlet-class>fr.escalade_presentation.controller.Upload</servlet-class>
    <multipart-config>
      <location>c:/fichiers</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/accueil</url-pattern>
  </servlet-mapping>
<!--   <servlet-mapping> -->
<!--     <servlet-name>ListeUtilisateur</servlet-name> -->
<!--     <url-pattern>/ListeUtilisateur</url-pattern> -->
<!--   </servlet-mapping> -->
  <servlet-mapping>
    <servlet-name>ListeTopo</servlet-name>
    <url-pattern>/ListeTopo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreationTopo</servlet-name>
    <url-pattern>/CreationTopo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
		<servlet-name>Image</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Upload</servlet-name>
    <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  
  
      <resource-ref>
        <res-ref-name>jdbc/DB_ESCALADE</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

   
   <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/BootstrapContext.xml </param-value>
	</context-param>
	

	   <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
   
<!--     <context-param> -->
<!--         <param-name>contextConfigLocation</param-name> -->
<!--         <param-value>classpath:/applicationContext.xml</param-value> -->
<!--     </context-param> -->
  
<!--   <listener> -->
<!--     <listener-class>fr.escalade.config.InitialisationDaoFactory</listener-class> -->
<!--   </listener> -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>